# Variáveis de ambiente
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Binários gerados
auth-service/auth-service
evaluation-service/evaluation-service

# IDE / Editor
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
docker-compose.override.yml